{% extends "usernavbar.html" %}

{% block content %}
    <h1>Buy Item</h1>

        <!--inputing the item to buy-->
    <form method="POST" action="/buy">
        <label for="select_item">Select Item to Buy:</label>
        <select id="select_item" name="select_item">
            {% for item in items %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select><br><br>

        <label for="quantity">Quantity to Buy:</label>
        <input type="number" id="quantity" name="quantity" required><br><br>

        <input type="submit" value="Buy">
    </form>
{% endblock %}
