{% extends "usernavbar.html" %}

{% block content %}

    <h1>Shopping Cart</h1>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Total: Rs.{{ total_price }}</p>


{% endblock %}