<!DOCTYPE html>
<html>
<head>
    <title>Inventory Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <div class="content">
        {% block content %}
        <h1>WELCOME TO INVENTORY MANAGEMENT WEBSITE FOR TUCK SHOP</h1>
        <!---->

        <a href="view"><button>View Product</button></a> 
        <a href="login"><button>Admin Login</button></a>    
    {% endblock %}
    </div>
</body>
</html>



