{% extends "layout.html" %}

{% block content %}
    <h1>Inventory</h1>
    
    <table>
        <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        {% for item in inventory %}
            <tr>
                <td>{{ item['item'] }}</td>
                <td>{{ item['quantity'] }}</td>
                <td>{{ item['price'] }}</td>
            </tr>
        {% endfor %}
    </table>

    
{% endblock %}


<!-- Inside your home.html template -->
<table>
    <!-- Loop through your inventory items -->
    {% for item in inventory %}
        <tr>
            <td>{{ item['item_name'] }}</td>
            <td>{{ item['quantity'] }}</td>
            <td>{{item['price']}}</td>
            <td><a href="{{ url_for('edit_item', item_name=item['item_name']) }}">Edit</a></td>
        </tr>
    {% endfor %}
</table>
<!-- Inside your home.html template -->
<!-- Inside your template code -->
<table>
    <!-- Loop through your inventory items -->
    {% for item in inventory %}
        <tr>
            <td><a href="{{ url_for('edit_item', item_name=item['item_name']) }}">{{ item['item'] }}</a></td>
            <td>{{ item['quantity'] }}</td>
        </tr>
    {% endfor %}
</table>


